#social-sidebar {
  right: 0px;
  position: fixed;
  top: 30%;
  z-index: 5000;
}
#social-sidebar li{
  list-style-type: none !important;
}
#social-sidebar li:first-child a {
  border-top-left-radius: 5px;
}
#social-sidebar li:last-child a {
  border-bottom-left-radius: 5px;
}
#social-sidebar a {
  background: rgba(0, 0, 0, .7);
  color: #fff;
  text-decoration: none;
  display: block;
  height: 50px;
  width: 50px;
  font-size: 24px;
  line-height: 50px;
  position: relative;
  text-align: center;
  cursor: pointer;
}
#social-sidebar a:hover span {
  right: 120%;
  opacity: 1;
}
#social-sidebar a span {
  font: 12px "Open Sans", sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 24px;
  right: -100%;
  margin-top: -16px;
  opacity: 0;
  padding: 4px 8px;
  position: absolute;
  transition: opacity .3s, right .4s;
  top: 50%;
  z-index: -1;
}
#social-sidebar a span:before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  right: -4px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
}
#social-sidebar a[class*="twitter"],
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before {
  background: #00aced;
}
#social-sidebar a[class*="facebook"],
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before {
  background: #3B5998;
}
#social-sidebar a[class*="gplus"],
#social-sidebar a[class*="gplus"] span,
#social-sidebar a[class*="gplus"] span:before {
  background: #E34429;
}
#social-sidebar a[class*="linkedin"],
#social-sidebar a[class*="linkedin"] span,
#social-sidebar a[class*="linkedin"] span:before {
  background: #0071AD;
}
#social-sidebar a[class*="github"],
#social-sidebar a[class*="github"] span,
#social-sidebar a[class*="github"] span:before {
  background: #4D4D4D;
}